{{range $step := .setupSteps}}
{{if $step.Header}}
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>{{ _ $step.Header.Title | html}}</span>
    </h6>
{{end}}
<ul class="nav flex-column">
    <li class="nav-item">
    <span class="nav-link{{if eq $step.Name $.currentStep.Name}} active{{end}}" href="#">
        <i class="md-icons md-18">{{html $step.Icon}}</i>
        {{_ $step.Title | html}} {{if eq $step.Name $.currentStep.Name}}<span class="sr-only">{{_ "(current)" | html}}</span>{{end}}
    </span>
    </li>
</ul>
{{end}}
