<!--
Copyright © 2018-2019 Olivier Robardet

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
--><!-- /views/admin/master.html --><!doctype html>
<html>
<head>
    <title>
        {{ if .title }}
        {{.title}} -
        {{ end }}
        {{.app.name}}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" href="/static/img/budgy.png">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- js -->
    {{ if .dev }}
    <script src="/static/vendors/jquery/jquery.js"></script>
    <script src="/static/vendors/bootstrap/js/bootstrap.bundle.js"></script>
    {{ else }}
    <script src="/static/vendors/jquery/jquery.min.js"></script>
    <script src="/static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    {{ end }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    {{block "head" .}}{{end}}</head>
<body class="{{if .section}} section-{{.section}}{{end}}{{if .subSection}} subsection-{{.subSection}}{{end}}">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="navbar-brand">
            {{.app.name}}
            <a href="/changelog" class="version">v{{.app.version}}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{if .showNavMenu}}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="md-icons md-18">home</i>{{_ "Home" | html}} <span class="sr-only">{{_ "(current)" | html}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts"><i class="md-icons md-18">account_balance</i>{{_ "Accounts" | html}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><i class="md-icons md-18">settings</i>{{_ "Settings" | html}}</a>
                </li>
            </ul>
        </div>
        {{end}}
    </nav>
</header>

<div class="container-fluid">
    {{if .showSidebar}}
    <nav class="bg-light sidebar">
        <div class="sidebar-sticky">
            {{block "sidebar" .}}{{end}}
        </div>
    </nav>
    {{end}}

    <main role="main"{{if .showSidebar}} class="with-sidebar"{{end}}>
        <div class="content" id="main-content">
        {{template "content" .}}
        </div>
    </main>
</div>

<footer class="footer{{if .showSidebar}} with-sidebar{{end}}">
    <div class="content">
        <span class="text-muted">&copy; 2019 orobardet</span>
    </div>
</footer>
</body>
</html>