/*!
 / Copyright © 2018-2019 Olivier Robardet
 /
 / Permission is hereby granted, free of charge, to any person obtaining a copy
 / of this software and associated documentation files (the "Software"), to deal
 / in the Software without restriction, including without limitation the rights
 / to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 / copies of the Software, and to permit persons to whom the Software is
 / furnished to do so, subject to the following conditions:
 /
 / The above copyright notice and this permission notice shall be included in
 / all copies or substantial portions of the Software.
 /
 / THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 / IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 / FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 / AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 / LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 / OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 / THE SOFTWARE.
 /

@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url(/static/fonts/material-icons/MaterialIcons-Regular.eot) /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/static/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'), url('/static/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'), url('/static/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype')

.md-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  vertical-align: text-bottom

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'

  &.md-18
    font-size: 18px
  &.md-24
    font-size: 24px
  &.md-36
    font-size: 36px
  &.md-48
    font-size: 48px
  &.md-64
    font-size: 64px

  &.md-dark
    color: rgba(0, 0, 0, 0.54)
    &.md-inactive
      color: rgba(0, 0, 0, 0.26)

  &.md-light
    color: rgba(255, 255, 255, 1)
    &.md-inactive
      color: rgba(255, 255, 255, 0.3)