/*!
 / Copyright © 2018-2019 Olivier Robardet
 /
 / Permission is hereby granted, free of charge, to any person obtaining a copy
 / of this software and associated documentation files (the "Software"), to deal
 / in the Software without restriction, including without limitation the rights
 / to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 / copies of the Software, and to permit persons to whom the Software is
 / furnished to do so, subject to the following conditions:
 /
 / The above copyright notice and this permission notice shall be included in
 / all copies or substantial portions of the Software.
 /
 / THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 / IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 / FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 / AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 / LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 / OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 / THE SOFTWARE.
 /

@import "functions-utils"

@import "app-variables"
@import "../vendors/bootstrap/scss/bootstrap"
@import "material-icons"

html
  @extend .h-100

body
  @extend .d-flex
  @extend .flex-column
  @extend .h-100

/*
 * Header
 */
header
  nav
    background-color: darken($blue, 15%)
    .navbar-brand
      min-width: ($sidebar-width - rem-to-px($navbar-padding-x)*2)
      position: relative
      .version
        font-size: small
        font-style: italic
        color: $gray-400
        opacity: 0.3
        position: absolute
        bottom: 0
        right: 0
        &:hover
          opacity: 0.5
          text-decoration: none

  .nav-link .md-icons
    margin-right: 4px

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active
  @extend .rounded-top
  color: $blue
  background-color: white
  padding-bottom: ($nav-link-padding-y + $navbar-padding-y)
  margin-bottom: (-$nav-link-padding-y - $navbar-padding-y)

/*
 * Footer
 */
.footer
  @extend .mt-auto
  @extend .py-1
  z-index: $zindex-fixed
  background-color: $gray-200
  &.with-sidebar
    margin-left: $sidebar-width

.footer > .content
  padding-right: $grid-gutter-width/2
  padding-left: $grid-gutter-width/2

/*
 * Sidebar
 */
.sidebar
  width: $sidebar-width
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 100
  padding: $nav-link-height+$navbar-padding-y 0 0
  background-color: lighten($blue, 45%) !important
  box-shadow: inset -1px 0 0 lighten($blue, 35%)

.sidebar-sticky
  position: relative
  top: 0
  height: calc(100vh - 48px)
  padding-top: .5rem
  overflow-x: hidden
  overflow-y: auto // Scrollable contents if viewport is shorter than content.

@supports ((position: -webkit-sticky) or (position: sticky))
  .sidebar-sticky
    position: -webkit-sticky
    position: sticky

.sidebar .nav-link
  font-weight: 500
  color: #333

.sidebar .nav-link .md-icons
  margin-right: 4px
  color: #999

.sidebar .nav-link.active
  @extend .rounded-left
  color: #007bff
  background-color: white
  border: solid 1px lighten($blue, 35%)
  border-right: 0
  padding-left: $nav-link-padding-x/2
  margin-left: $nav-link-padding-x/2

.sidebar .nav-link:hover .md-icons,
.sidebar .nav-link.active .md-icons
  color: inherit

.sidebar-heading
  font-size: .75rem
  text-transform: uppercase

/*
 * Main content container
 */
main
  @extend .flex-shrink-0
  margin: $nav-link-height+$navbar-padding-y*2.5 $grid-gutter-width/2 0 0
  &.with-sidebar
    margin-left: $sidebar-width+rem-to-px($navbar-padding-x)-$grid-gutter-width/2

/*
 * Sign in page
 */
body.section-signin
  .form-signin
    width: 100%
    max-width: 420px
    padding: 15px
    padding-top: 100px
    margin: auto
    .form-label-group
      position: relative
      margin-bottom: 1rem
      > input
        height: 3.125rem
        padding: .75rem
      label
        height: 3.125rem
        padding: .75rem
        position: absolute
        top: 0
        left: 0
        display: block
        width: 100%
        margin-bottom: 0
        // Override default `<label>` margin
        line-height: 1.5
        color: #495057
        pointer-events: none
        cursor: text
        // Match the input under the label
        border: 1px solid transparent
        border-radius: .25rem
        transition: all .1s ease-in-out
        color: transparent
      input
        &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::-moz-placeholder, &::placeholder
          color: transparent
        &:not(:placeholder-shown)
          padding-top: 1.25rem
          padding-bottom: .25rem
          ~ label
            padding-top: .25rem
            padding-bottom: .25rem
            font-size: 12px
            color: #777
    // Fallback for Edge
    @supports (-ms-ime-align: auto)
      .form-label-group
        > label
          display: none
        input::-ms-input-placeholder
          color: #777
    // Fallback for IE
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
      .form-label-group
        > label
          display: none
        input:-ms-input-placeholder
          color: #777

/*
 * Setup
 */
body.section-setup
  main .content
    padding-top: 50px
    max-width: 768px
    margin: auto
  .step-content
    position: relative
  .step-icon
    top: -32px
    left: -96px
    z-index: -1
    position: absolute
    font-size: 128px
    color: $info
    opacity: 0.1
