<p>
    {{_ "This setup will help you configure the application for the first use." | html}}
</p>
<p>
    {{_ "The setup process consist in:" | html}}
<ul>
    <li>{{_ "Initialising the application database ;" | html}}</li>
    <li>{{_ "Creating the first user, who will be an administrator." | html}}</li>
</ul>
</p>
